<div class="container mt-5">
  <div class="row">
    <form [formGroup]="form" class="mb-4">
      <div class="row">
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="a">
            <input type="text" id="a" formControlName="name"
                   [class.border-error]="!form.get('name').valid" [attr.disabled]="btnDoneDisabled ? '' : null">
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="b">
            <input type="text" id="b" formControlName="cover" [attr.disabled]="btnDoneDisabled ? '' : null">
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="c">
            <input type="text" id="c" formControlName="description"
                   [class.border-error]="!form.get('description').valid" [attr.disabled]="btnDoneDisabled ? '' : null">
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="d">
            <input type="text" id="d" formControlName="author"
                   [class.border-error]="!form.get('author').valid" [attr.disabled]="btnDoneDisabled ? '' : null">
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="e">
            <input type="text" id="e" formControlName="publisher"
                   [class.border-error]="!form.get('publisher').valid" [attr.disabled]="btnDoneDisabled ? '' : null">
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="f">
            <input type="number" id="f" formControlName="codeIsbn"
                   [class.border-error]="!form.get('codeIsbn').valid" [attr.disabled]="btnDoneDisabled ? '' : null">
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="g">
            <input type="number" id="g" formControlName="year"
                   [class.border-error]="!form.get('year').valid" [attr.disabled]="btnDoneDisabled ? '' : null">
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="h">
            <input type="number" id="h" formControlName="pages" [attr.disabled]="btnDoneDisabled ? '' : null">
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="i">
            <input class="rating" type="number" min="1" max="5" id="i" formControlName="rating" [attr.disabled]="btnDoneDisabled ? '' : null">
            <div [hidden]="form.get('rating').valid" class="alert-danger">
              рейтинг от 1 до 5
            </div>
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="j">
            <textarea type="text" id="j" formControlName="comment" [attr.disabled]="btnDoneDisabled ? '' : null"></textarea>
          </label>
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center">
          <label for="k">
            <textarea type="text" id="k" formControlName="personalNotes" [attr.disabled]="btnDoneDisabled ? '' : null"></textarea>
          </label>
        </div>
      </div>
    </form>

    <hr>

    <div class="row mt-3 mb-5">
      <div class="col-6 d-flex justify-content-center">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                [disabled]="btnEditDisabled" (click)="editForm()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>

      <div class="col-6 d-flex justify-content-center">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                [disabled]="btnDoneDisabled || !form.valid" (click)="confirmEditing()">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
