.header {
  background: #24292e;
  color: aliceblue;

  &-title {
    font-size: 2rem;
    outline: none;
  }

  &-nav-btn {
    outline: none;
  }

  &-logo {
    width: 100px;

    & img {
      width: 100%;
    }
  }
}
