<div class="container-fluid">
  <div class="header row">
    <div class="header-title col-3 cursor-pointer d-flex align-items-center" routerLink="">
      <div class="header-logo">
        <img src="/assets/book.png">
      </div>
      Library of books
    </div>
    <div class="header-nav-btn col-2 cursor-pointer d-flex align-items-center justify-content-center" routerLink="">Главная</div>
    <div class="header-nav-btn col-2 cursor-pointer d-flex align-items-center justify-content-center" routerLink="/add">Добавить книгу</div>
    <div class="col-5"></div>
  </div>
</div>
