.book-card {
  border-radius: 5px;

  & img {
    height: 360px;
    border-bottom: 1px solid rgba(172, 161, 150, 0.3);
    object-fit: contain;
  }

  &-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
  }

  &-rating {
    color: orange;
    width: 20px;
    margin: 0 5px;
  }
}
